.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(361px, auto);
  row-gap: 17px;
  column-gap: 17px;
}
.element__element {
  background-color: #ffffff;
  border-radius: 10px;
  width: 282px;
  height: 361px;
}

.element__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  background-color: black;
}
.element__info {
  display: flex;
  padding-left: 21px;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
}
.element__title {
  color: #000000;
}
.element__icono {
  width: 21px;
  height: 19px;
}
@media screen and (max-width: 400px) {
  .elements {
    grid-template-columns: 1fr;
  }
}
