.header {
  margin-bottom: 40px;
  border-bottom: 1px solid #545454;
  padding-bottom: 41px;
}
.header__logo {
  height: 33px;
  width: 173px;
}
@media screen and (max-width: 600px) {
  .header__logo {
    margin-left: 20px;
  }
}
