.page {
  background-color: #000000;
  margin: 45px 200px auto 200px;
  color: #ffffff;
  font-family: "Inter", "Arial", "Sans-serif";
  max-width: 880px;
}
@media screen and (max-width: 600px) {
  .page {
    margin: 19px auto;
  }
}
/* Media query for tablet devices */
@media screen and (min-width: 601px) and (max-width: 768px) {
  .page {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
