/* Profile container - holds all profile elements */
.profile {
  margin-bottom: 50px;
  display: flex; /* Uses flexbox for layout */
  align-items: center; /* Vertically centers items */
  gap: 30px; /* Space between flex items */
}

/* Container for profile information */
.profile__info {
  flex-grow: 1; /* Allows this element to grow and fill available space */
  display: flex;
  flex-direction: column; /* Stacks child elements vertically */
  gap: 10px;
}

.profile__name-container {
  display: flex;
  align-items: center;
  gap: 18px;
}

/* Styles for the main profile title (usually the name) */
.profile__title {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  font-family: "Inter";
}

/* Styles for the profile subtitle (usually a short bio or role) */
.profile__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter";
}

/* Styles for the profile avatar image */
.profile__avatar-img {
  width: 120px;
  height: 120px;
  border-radius: 100%; /* Makes the image circular */
}

/* Common styles for both add and edit buttons */
.profile__add-button,
.profile__edit-button {
  background-color: #000000;
  border: solid #ffffff;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Hover effect for both buttons */
.profile__add-button:hover,
.profile__edit-button:hover {
  opacity: 0.8; /* Makes the button slightly transparent on hover */
}

/* Specific styles for the add button */
.profile__add-button {
  width: 150px;
  height: 50px;
  border-width: 2px;
}

/* Specific styles for the edit button */
.profile__edit-button {
  width: 24px;
  height: 24px;
  border-width: 1px;
}

/* Styles for images inside both buttons */
.profile__add-button-img,
.profile__edit-button-img {
  object-fit: contain; /* Ensures the image fits within the button without distortion */
}

/* Specific size for the add button image */
.profile__add-button-img {
  width: 150px;
  height: 50px;
}

/* Specific size for the edit button image */
.profile__edit-button-img {
  width: 24px;
  height: 24px;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column; /* Stacks profile elements vertically on small screens */
  }

  .profile__title {
    font-size: 35px;
    text-align: center;
  }

  .profile__subtitle {
    font-size: 25px;
    text-align: center;
  }
  .profile__name-container {
    width: 90vw;
  }
}
